Repository input-output-hk/mantis, pull requests merged in 2020-09, with the labels that each got.

#660 [Chore] Project build updates
  .circleci/Dockerfile
  .circleci/config.yml
  .travis.yml
  README.md
  build.sbt
  docker/scripts/install-mantis-dev.sh
  project/build.properties
  project/plugins.sbt
  src/main/scala/io/iohk/ethereum/utils/ByteUtils.scala
  src/universal/conf/application.ini
  verify.sbt
Labels: enhancement, high priority

#667 [ETCM-107] Backport logging configuration
  build.sbt
  src/main/resources/application.conf
  src/main/resources/logback.xml
  src/main/scala/io/iohk/ethereum/utils/LoadFromApplicationConfiguration.scala
  src/main/scala/io/iohk/ethereum/utils/Logger.scala
  src/universal/conf/logback.xml
  src/universal/conf/logging.conf
  src/universal/conf/mantis.conf
Labels: BREAKS CONFIG

#671 Etcm 52 make sure mantis works on windows
  .gitignore
  build.sbt
  project/plugins.sbt
  project/repo.nix
  repo.nix
  src/main/scala/io/iohk/ethereum/db/dataSource/RocksDbDataSource.scala
  src/main/scala/io/iohk/ethereum/nodebuilder/NodeBuilder.scala
  src/main/scala/io/iohk/ethereum/utils/Ref.scala
  src/test/scala/io/iohk/ethereum/keystore/KeyStoreImplSpec.scala
Labels: high priority

#668 [ETCM-49] Replace statsd metrics with prometheus
  README.md
  build.sbt
  docker/monitoring-client.Dockerfile
  docker/prometheus.yml
  project/Dependencies.scala
  repo.nix
  src/main/resources/application.conf
  src/main/resources/logback.xml
  src/main/scala/io/iohk/ethereum/domain/BlockBody.scala
  src/main/scala/io/iohk/ethereum/ledger/BlockImport.scala
  src/main/scala/io/iohk/ethereum/ledger/BlockMetrics.scala
  src/main/scala/io/iohk/ethereum/metrics/AppJmxConfig.scala
  src/main/scala/io/iohk/ethereum/metrics/DeltaSpikeGauge.scala
  src/main/scala/io/iohk/ethereum/metrics/MeterRegistryBuilder.scala
  src/main/scala/io/iohk/ethereum/metrics/Metrics.scala
  src/main/scala/io/iohk/ethereum/metrics/MetricsAlreadyConfiguredError.scala
  src/main/scala/io/iohk/ethereum/metrics/MetricsClient.scala
  src/main/scala/io/iohk/ethereum/metrics/MetricsConfig.scala
  src/main/scala/io/iohk/ethereum/metrics/MetricsContainer.scala
  src/main/scala/io/iohk/ethereum/metrics/MetricsErrorHandler.scala
  src/main/scala/io/iohk/ethereum/metrics/MetricsUtils.scala
  src/main/scala/io/iohk/ethereum/nodebuilder/StdNode.scala
  src/main/scala/io/iohk/ethereum/utils/LoggerUtils.scala
  src/test/scala/io/iohk/ethereum/ledger/BlockImportSpec.scala
  src/universal/conf/metrics.conf
Labels: enhancement, update dependencies

#680 [Chore] Rename sbt project name back to mantis
  build.sbt
Labels: enhancement

#684 [Chore] Update typelevel dependencies
  project/Dependencies.scala
  repo.nix
  src/test/scala/io/iohk/ethereum/SpecBase.scala
Labels: update dependencies

#675 [ETCM-43][ETCM-46] Add opt-out field
  src/ets/scala/io/iohk/ethereum/ets/blockchain/BlockchainTestConfig.scala
  src/ets/scala/io/iohk/ethereum/ets/blockchain/Scenario.scala
  src/ets/scala/io/iohk/ethereum/ets/vm/ScenarioBuilder.scala
  src/it/scala/io/iohk/ethereum/txExecTest/ECIP1017Test.scala
  src/it/scala/io/iohk/ethereum/txExecTest/ForksTest.scala
  src/it/scala/io/iohk/ethereum/txExecTest/util/DumpChainApp.scala
  src/main/resources/application.conf
  src/main/resources/chains/base.conf
  src/main/resources/chains/eth.conf
  src/main/resources/chains/mordor.conf
  src/main/resources/chains/private.conf
  src/main/resources/chains/ropsten.conf
  src/main/scala/io/iohk/ethereum/blockchain/data/GenesisDataLoader.scala
  src/main/scala/io/iohk/ethereum/consensus/ConsensusConfig.scala
  src/main/scala/io/iohk/ethereum/consensus/blocks/BlockGeneratorSkeleton.scala
  src/main/scala/io/iohk/ethereum/consensus/validators/BlockHeaderValidator.scala
  src/main/scala/io/iohk/ethereum/consensus/validators/BlockHeaderValidatorSkeleton.scala
  src/main/scala/io/iohk/ethereum/db/storage/BlockHeadersStorage.scala
  src/main/scala/io/iohk/ethereum/domain/BlockHeader.scala
  src/main/scala/io/iohk/ethereum/extvm/VMServer.scala
  src/main/scala/io/iohk/ethereum/utils/BlockchainConfig.scala
  src/test/resources/application.conf
  src/test/scala/io/iohk/ethereum/Fixtures.scala
  src/test/scala/io/iohk/ethereum/ObjectGenerators.scala
  src/test/scala/io/iohk/ethereum/consensus/BlockGeneratorSpec.scala
  src/test/scala/io/iohk/ethereum/consensus/ConsensusConfigs.scala
  src/test/scala/io/iohk/ethereum/consensus/ethash/MinerSpecSetup.scala
  src/test/scala/io/iohk/ethereum/consensus/validators/BlockHeaderValidatorSpec.scala
  src/test/scala/io/iohk/ethereum/consensus/validators/BlockValidatorSpec.scala
  src/test/scala/io/iohk/ethereum/consensus/validators/OmmersValidatorSpec.scala
  src/test/scala/io/iohk/ethereum/domain/BlockHeaderSpec.scala
  src/test/scala/io/iohk/ethereum/jsonrpc/EthServiceSpec.scala
  src/test/scala/io/iohk/ethereum/jsonrpc/FilterManagerSpec.scala
  src/test/scala/io/iohk/ethereum/jsonrpc/PersonalServiceSpec.scala
  src/test/scala/io/iohk/ethereum/ledger/BlockValidationSpec.scala
  src/test/scala/io/iohk/ethereum/ledger/StxLedgerSpec.scala
  src/test/scala/io/iohk/ethereum/network/p2p/messages/NewBlockSpec.scala
  src/universal/conf/consensus.conf
Labels: BREAKS CONFIG, BREAKS PROTOCOL

#683 [ETCM-110] Add eth_chainId RPC method
  .gitignore
  insomnia_workspace.json
  src/main/scala/io/iohk/ethereum/jsonrpc/DebugJsonMethodsImplicits.scala
  src/main/scala/io/iohk/ethereum/jsonrpc/EthJsonMethodsImplicits.scala
  src/main/scala/io/iohk/ethereum/jsonrpc/EthService.scala
  src/main/scala/io/iohk/ethereum/jsonrpc/JsonMethodsImplicits.scala
  src/main/scala/io/iohk/ethereum/jsonrpc/JsonRpcController.scala
  src/main/scala/io/iohk/ethereum/jsonrpc/QAJsonMethodsImplicits.scala
  src/test/scala/io/iohk/ethereum/jsonrpc/EthServiceSpec.scala
  src/test/scala/io/iohk/ethereum/jsonrpc/JsonRpcControllerSpec.scala
Labels: bug

#693 [ETCM-125] Fix faucet logging issue
  src/main/resources/application.conf
  src/main/resources/logback.xml
  src/main/scala/io/iohk/ethereum/faucet/FaucetApi.scala
  src/universal/conf/faucet.conf
  src/universal/conf/logging.conf
Labels: BREAKS CONFIG, bug

#681 [ETCM-121] Refactor configs
  build.sbt
  src/main/resources/application.conf
  src/main/resources/chains/etc-chain.conf
  src/main/resources/chains/etc.conf
  src/main/resources/chains/eth-chain.conf
  src/main/resources/chains/mordor-chain.conf
  src/main/resources/chains/mordor-genesis.json
  src/main/resources/chains/private.conf
  src/main/resources/chains/ropsten-chain.conf
  src/main/resources/chains/ropsten-genesis.json
  src/main/resources/chains/ropsten.conf
  src/main/resources/chains/test-chain.conf
  src/main/resources/chains/test.conf
  src/main/resources/chains/testnet-internal-chain.conf
  src/main/resources/chains/testnet-internal-genesis.json
  src/rpcTest/resources/privateNetConfig/conf/rpc-test-private.conf
  src/universal/bin/mantis-etc
  src/universal/bin/mantis-eth
  src/universal/bin/mantis-launcher
  src/universal/conf/app.conf
  src/universal/conf/application.ini
  src/universal/conf/blockchains.conf
  src/universal/conf/etc.conf
  src/universal/conf/eth.conf
  src/universal/conf/logging.conf
  src/universal/conf/mantis.conf
  src/universal/conf/metrics.conf
  src/universal/conf/misc.conf
  src/universal/conf/mordor.conf
  src/universal/conf/network.conf
  src/universal/conf/nopassword
  src/universal/conf/storage.conf
  src/universal/conf/sync.conf
  src/universal/conf/testmode.conf
  src/universal/conf/testnet-internal.conf
Labels: BREAKS CONFIG

#695 [ETCM-70-71] Checkpointing domain + Checkpointing configuration
  src/main/resources/application.conf
  src/main/resources/chains/etc-chain.conf
  src/main/resources/chains/testnet-internal-chain.conf
  src/main/scala/io/iohk/ethereum/consensus/ConsensusConfig.scala
  src/main/scala/io/iohk/ethereum/crypto/ECDSASignature.scala
  src/main/scala/io/iohk/ethereum/db/storage/BlockBodiesStorage.scala
  src/main/scala/io/iohk/ethereum/db/storage/BlockHeadersStorage.scala
  src/main/scala/io/iohk/ethereum/domain/BlockBody.scala
  src/main/scala/io/iohk/ethereum/domain/BlockHeader.scala
  src/main/scala/io/iohk/ethereum/domain/Checkpoint.scala
  src/main/scala/io/iohk/ethereum/rlp/RLPImplicits.scala
  src/main/scala/io/iohk/ethereum/utils/BlockchainConfig.scala
  src/main/scala/io/iohk/ethereum/utils/ByteStringUtils.scala
  src/main/scala/io/iohk/ethereum/utils/ConfigUtils.scala
  src/test/scala/io/iohk/ethereum/ObjectGenerators.scala
  src/universal/conf/consensus.conf
Labels: BREAKS CONFIG, BREAKS PROTOCOL, BREAKS STATE

#694 [ETCM-44] Treasury block reward distribution
  insomnia_workspace.json
  src/ets/scala/io/iohk/ethereum/ets/blockchain/BlockchainTestConfig.scala
  src/it/scala/io/iohk/ethereum/txExecTest/ECIP1017Test.scala
  src/it/scala/io/iohk/ethereum/txExecTest/ForksTest.scala
  src/main/resources/chains/etc-chain.conf
  src/main/resources/chains/eth-chain.conf
  src/main/resources/chains/mordor-chain.conf
  src/main/resources/chains/ropsten-chain.conf
  src/main/resources/chains/test-chain.conf
  src/main/resources/chains/testnet-internal-chain.conf
  src/main/scala/io/iohk/ethereum/ledger/BlockPreparator.scala
  src/main/scala/io/iohk/ethereum/ledger/BlockRewardCalculator.scala
  src/main/scala/io/iohk/ethereum/utils/BlockchainConfig.scala
  src/test/scala/io/iohk/ethereum/consensus/BlockGeneratorSpec.scala
  src/test/scala/io/iohk/ethereum/consensus/validators/BlockHeaderValidatorSpec.scala
  src/test/scala/io/iohk/ethereum/jsonrpc/EthServiceSpec.scala
  src/test/scala/io/iohk/ethereum/jsonrpc/PersonalServiceSpec.scala
  src/test/scala/io/iohk/ethereum/ledger/BlockRewardCalculatorOps.scala
  src/test/scala/io/iohk/ethereum/ledger/BlockRewardCalculatorSpec.scala
  src/test/scala/io/iohk/ethereum/ledger/BlockRewardSpec.scala
  src/test/scala/io/iohk/ethereum/ledger/LedgerSpec.scala
  src/test/scala/io/iohk/ethereum/ledger/StxLedgerSpec.scala
Labels: BREAKS CONFIG, BREAKS PROTOCOL
